simv
simv.daidir/
csrc/
AN.DB/
vc_hdrs.h
uvm_dpi.so*
compile.log
sim.log
waves/*.fsdb
waves/*.vpd
verdiLog/
novas.conf
novas_dump.log
novas.rc
tr_db.log
ucli.key
vlogan.log
inter.vpd
DVEfiles/
build/
build2/
*.o
*.so
