sim/simv
sim/simv.daidir/
sim/simv.cst/
sim/csrc/
sim/AN.DB/
sim/vc_hdrs.h
sim/uvm_dpi.so*
sim/compile.log
sim/sim.log
sim/waves/*.fsdb
sim/waves/*.vpd
sim/verdiLog/
sim/novas.conf
sim/novas_dump.log
sim/novas.rc
sim/tr_db.log
sim/ucli.key
sim/vlogan.log
sim/inter.vpd
sim/DVEfiles/
sim/build/
sim/build2/
sim/*.o
sim/*.so
